@keyframes bubbleAnimation {
    0% {
        transform: scale(100%, 100%);
    }
    50% {
        transform: scale(70%, 70%);
    }
    100% {
        transform: scale(100%, 100%);
    }
}

.bubble {
    animation: bubbleAnimation 25s ease-in-out infinite;
    border-radius: 100%;
    background-color: rgb(242, 241, 237);
    z-index: -1;
}

.normalBubble {
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    min-height: 400px;
}

.largeBubble {
    min-width: 1200px;
    min-height: 1200px;
    max-width: 1200px;
    min-height: 1200px;
}